*{
    /*padding: 0; */
     margin: 0px; 
}

/*font family*/

body{

    background-color: rgb(253, 254, 255);
    font-size: 15px;
    font-family:  sans-serif;
}

h1,h2,h3{
    color: rgb(29, 110, 231);
}

p{
    color: rgb(36, 36, 36);
}


#container{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
   
    top: 80px;
    position: absolute;
   
    text-align: center;
}

#blocoPedidoNamoro{
    width: 75vw;
    height: 40vh;
    margin: 0 auto;
    padding: 30px;
    
}

#cardPedido > h2:nth-child(1)
{
    padding-top:55px;
}


#cardPedido > h2:nth-child(2)
{
    color: rgb(210, 17, 17);
}


#cardPedido h2{ 

    padding: 15px 15px 15px 15px;
    text-align: center;
    margin-top: 10px;
}

#container h1{
    
    display: inline-block;
    text-align: center;
    width: 50px;
}

#cardPedido{

    margin: 0 auto;
    
    width: 75vw;
    height: 55vh;
    background-color: rgb(247, 244, 244);
    box-shadow: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 8px;
    
    
}

#divformulario{
    padding: 20px;
}
#divformulario > h2:nth-child(1){
    margin: 10px;
    font-size:27px;
}
form p{
    font-size: 1.3rem;
    margin: 25px;
}
form label{
    font-size:1.1rem;
}

input, label{
    margin: 5px 0px 20px 3px;

}
input[type=checkbox]  {
    border: 0px;
    width: 20px;
    height: 25px;
    vertical-align:middle !important;
    margin-bottom: 12px !important;
}

#poema{
    box-sizing: border-box;
    margin-top: 20px;
    width: 100vw;
    height: 100vh;
    /* background-color:  rgb(104, 104, 104); */
    border-radius: 8px;
   
}
#bilhete{
    background-image: url("folha.png");
    background-position:  center;
    background-repeat: no-repeat;
    height: 1050px;
    
}

#poema p,h3,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;

}

#poema h2{
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 55px;
    color: rgb(29, 29, 29);
}

#poema h3{
    text-align: left;
    /* position: absolute; */
    margin-left: 1rem;
    margin-bottom: 55px;
    color: rgb(29, 29, 29);
}
#poema p{
    text-align: left;
    margin-left: 1rem;
    color: rgb(29, 29, 29);
}

#instagram{
    display: block;
    height: 80px;
    width: 100%;
    margin-top: 750px;
    text-decoration: none;
    position:absolute;

}
#instagram p{

    text-align: center;
    
}

#instagram a{
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    display: block;
    color: rgb(29, 110, 231);
}

#instagram a:hover{
    text-decoration: underline;
    color: rgb(15, 51, 105);
    }

.botaoprincipal{

    position:relative;
    top: 20%;
    width: 90px;
    height: 40px;

    background-color: rgb(95, 219, 83);
    color: rgb(36, 36, 36);
    border-style: none;
    margin: 30px;
    padding:10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 3px;
}

.botaopoema{
    top: 25% !important;
}

.emoji{
    width: 50px;
    height: 50px;
}




@media (max-width: 700px) {
    .botaoprincipal {
        top: 15%;
        
    }
    #cardPedido { 

        height: 35vh;
    }
  }